.single-recipe-layout2 .action-item {
	margin-bottom: 5px;
}

@media only screen and (max-width: 991px) {
	.single-recipe-layout2 .action-item {
		width: 100%;
		text-align: center;
	}
}

.single-recipe-layout2 .action-item li {
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #d5d5d5;
	line-height: 1;
	margin-bottom: 5px;
}

.single-recipe-layout2 .action-item li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.single-recipe-layout2 .action-item li button {
	background: transparent;
	border: 0;
	cursor: pointer;
	color: #a8a8a8;
	font-size: 20px;
	padding: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.single-recipe-layout2 .action-item li button:focus {
	outline: none;
}

.single-recipe-layout2 .action-item li button:hover {
	color: #ff4a52;
}

.single-recipe-layout2 .action-item li.action-share-hover {
	position: relative;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap {
	position: absolute;
	top: 30px;
	padding-top: 10px;
	left: 0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #ff4a52;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transition-delay: 0.1s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a {
	color: #ffffff;
	background-color: #ff4a52;
	display: block;
	padding: 10px 12px;
	transform: translateX(-40px);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:first-child {
	padding: 20px 12px 10px;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:last-child {
	padding: 10px 12px 20px;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(1n) {
	transition-delay: 0.6s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(2n) {
	transition-delay: 0.5s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(3n) {
	transition-delay: 0.4s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(4n) {
	transition-delay: 0.3s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(5n) {
	transition-delay: 0.2s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:nth-child(6n) {
	transition-delay: 0.1s;
}

.single-recipe-layout2 .action-item li.action-share-hover .action-share-wrap a:hover {
	color: #111111;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap:before {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition-delay: 0.7s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a {
	transform: translateX(0);
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(1n) {
	transition-delay: 0.1s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(2n) {
	transition-delay: 0.2s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(3n) {
	transition-delay: 0.3s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(4n) {
	transition-delay: 0.4s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(5n) {
	transition-delay: 0.5s;
}

.single-recipe-layout2 .action-item li.action-share-hover:hover .action-share-wrap a:nth-child(6n) {
	transition-delay: 0.6s;
}