.ingridients-wrap {
	background-color: #f8f8f8;
	padding: 35px 40px;
	margin-bottom: 30px;
}

.ingridients-wrap .adjust-servings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 10px 10px 10px 20px;
	-webkit-box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 37px;
}

@media only screen and (max-width: 575px) {
	.ingridients-wrap .adjust-servings {
		display: block;
		text-align: center;
		padding: 10px 10px 15px 20px;
	}
}

.ingridients-wrap .adjust-servings .servings-title {
	color: #444444;
	font-weight: 600;
}

@media only screen and (max-width: 575px) {
	.ingridients-wrap .adjust-servings .servings-title {
		margin-bottom: 10px;
	}
}

.ingridients-wrap .adjust-servings .servings-quantity {
	width: 124px;
	position: relative;
}

@media only screen and (max-width: 575px) {
	.ingridients-wrap .adjust-servings .servings-quantity {
		margin: 0 auto;
	}
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder {
	justify-content: flex-end;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .quantity-input {
	width: 50px;
	flex: inherit;
	height: 30px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d6d6d6;
	border-radius: 0;
	margin: 0 5px;
	color: #444444;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .quantity-input:focus {
	outline: none;
	box-shadow: none;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .btn-quantity-select button {
	color: #444444;
	background: #f8f8f8;
	font-size: 13px;
	cursor: pointer;
	width: 32px;
	height: 30px;
	box-shadow: none;
	border: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .btn-quantity-select button:hover {
	color: #ffffff;
	background-color: #ff4a52;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .btn-quantity-select button:focus {
	outline: none;
}

.ingridients-wrap .adjust-servings .servings-quantity .quantity-holder .btn-quantity-select .quantity-minus {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.ingridients-wrap .checkbox {
	padding-left: 5px;
	margin-bottom: 22px;
}

.ingridients-wrap .checkbox:last-child {
	margin-bottom: 0;
}

.ingridients-wrap .checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-top: 0;
	margin-bottom: 0;
	color: #444444;
}

.ingridients-wrap .checkbox label:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 1px;
	margin-left: -5px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.ingridients-wrap .checkbox label:after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 17px;
	top: 2px;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

.ingridients-wrap .checkbox input[type="checkbox"] {
	display: none;
}

.ingridients-wrap .checkbox input[type="checkbox"]:focus+label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.ingridients-wrap .checkbox input[type="checkbox"]:checked+label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

.ingridients-wrap .checkbox input[type="checkbox"]:disabled+label {
	opacity: 0.65;
}

.ingridients-wrap .checkbox input[type="checkbox"]:disabled+label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.ingridients-wrap .checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.ingridients-wrap .checkbox-primary input[type="checkbox"]:checked+label::before {
	background-color: #ff4a52;
	border-color: #ff4a52;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(218, 44, 52, 0.35);
	-moz-box-shadow: 0px 4px 10px 0px rgba(218, 44, 52, 0.35);
	box-shadow: 0px 4px 10px 0px rgba(218, 44, 52, 0.35);
}

.ingridients-wrap .checkbox-primary input[type="checkbox"]:checked+label::after {
	color: #fff;
}


.single-recipe-layout2 .making-elements-wrap .item-title {
	font-weight: 700;
	font-size: 24px;
	color: #111111;
	margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
	.single-recipe-layout2 .making-elements-wrap .item-title {
		font-size: 22px;
	}
}

.single-recipe-layout2 .making-elements-wrap .item-title i {
	color: #ff4a52;
	margin-right: 10px;
}



.single-recipe-layout2 .making-elements-wrap .nutrition-wrap {
	background-color: #fef1f2;
	padding: 35px 40px;
	margin-bottom: 30px;
}

.single-recipe-layout2 .making-elements-wrap .nutrition-wrap .nutrition-list {
	border-radius: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.13);
}

.single-recipe-layout2 .making-elements-wrap .nutrition-wrap .nutrition-list li {
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #d7d7d7;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.single-recipe-layout2 .making-elements-wrap .nutrition-wrap .nutrition-list li:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

.single-recipe-layout2 .making-elements-wrap .nutrition-wrap .nutrition-list li .nutrition-name {
	color: #111111;
}

.single-recipe-layout2 .making-elements-wrap .nutrition-wrap .nutrition-list li .nutrition-value {
	font-size: 20px;
	font-weight: 600;
	color: #444444;
}
