.single-recipe-layout2 .item-feature {
	margin-bottom: 35px;
}

.single-recipe-layout2 .item-feature ul {
	margin-left: -1px;
	margin-right: -1px;
	display: flex;
	flex-wrap: wrap;
}

.single-recipe-layout2 .item-feature ul li {
	margin-top: 2px;
	max-width: 25%;
	flex: 0 0 25%;
	padding-left: 1px;
	padding-right: 1px;
}

@media only screen and (max-width: 991px) {
	.single-recipe-layout2 .item-feature ul li {
		max-width: 50%;
		flex: 0 0 50%;
	}
}

@media only screen and (max-width: 767px) {
	.single-recipe-layout2 .item-feature ul li {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

.single-recipe-layout2 .item-feature ul li .feature-wrap {
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

.single-recipe-layout2 .item-feature ul li .media {
	height: 100%;
	padding: 12px 5px;
	align-items: center;
}

.single-recipe-layout2 .item-feature ul li .feature-icon {
	font-size: 24px;
	line-height: 1;
}

.single-recipe-layout2 .item-feature ul li .feature-icon i,
.single-recipe-layout2 .item-feature ul li .feature-icon i:before {
	font-size: 30px;
	font-weight: 600;
	color: #a8a8a8;
}

.single-recipe-layout2 .item-feature ul li .feature-title {
	font-size: 18px;
	color: #111111;
	font-weight: 600;
}

.media-body.space-sm {
  margin: 0 0 0 15px;
}