.single-recipe-layout2 {
	transform: translateY(-100px);
	padding: 50px 100px 0;
	margin-bottom: -100px;
	z-index: 8;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 1199px) {
	.single-recipe-layout2 {
		transform: translateY(-60px);
		margin-bottom: -60px;
	}
}

@media only screen and (max-width: 991px) {
	.single-recipe-layout2 {
		padding: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.single-recipe-layout2 {
		transform: translateY(0);
		margin-bottom: 0;
		background-image: none;
		padding: 10rem 0;
	}
}

.single-recipe-layout2:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 96%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	background-color: #ffffff;
}

.single-recipe-layout2 .ctg-name {
	color: #ff4a52;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
}

.single-recipe-layout2 .item-title {
	font-weight: 700;
	margin-bottom: 30px;
	text-align: center;
}

.single-recipe-layout2 .item-description {
	font-size: 17px;
	color: #444444;
	line-height: 1.8;
	font-weight: 500;
	padding: 0 60px;
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.single-recipe-layout2 .item-description {
		padding: 0;
	}
}
