.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header a {
  text-decoration: none;
  color: aliceblue;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.logo {
  display: none;
  z-index: 5;
}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}


.menu-list {
  display: flex;
  position: relative;
  z-index: 3;
}

.menu-list li {
  list-style: none;
  margin: 0 0 0 30px;
}

.menu-list li a{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.login-section {
  width: 200px;
  display: flex;
  justify-content: space-around;
  z-index: 101;
  align-items: center;
}

.login-button button {
  color: aliceblue;
  background-color: black;
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.login-button button:hover {
  color: #ff4a52;
  transition: all 0.3s;
}

.login-button button:not(:hover) {
  transition: all 0.3s;
}

.login-button button:focus {
  outline: none;
}

.submit-recipe-button button {
  padding: 9px 20px 9px 15px;
  background-color: #ff4a52;
  border: none;
  border-radius: 45px;
  color: aliceblue;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.submit-recipe-button button:hover {
  background-color: #e92731;
  transition: all 0.3s;
}

.submit-recipe-button button:not(hover) {
  transition: all 0.3s;
}

.header-burger {
  display: none;
}

@media(max-width: 767px) {

  .logo {
    display: inline;
    margin: 0 0 0 20px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
    z-index: 102;
    margin: 0 20px 0 0;
  }

  .header-burger::before,
  .header-burger::after,
  .header-burger span {
    content: '';
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    left: 0;
    position: absolute;
    transition: all 0.3s;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    top: 100%;
  }

  .header-burger span.second{
    top: 8px;
    width: 80%;
    margin: 0 0 0 20%;
  }

  .header-burger span.third{
    top: 16px;
    width: 80%;
    margin: 0 0 0 20%;
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    top: 12px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    top: 12px;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
    overflow: auto;
  }
  
  .header-menu.active {
    top: 0;
  }

  .menu-list {
    display: block;
    padding: 60px 0 0 0;
  }

  .menu-list li {
    display: block;
    margin: 50px;
  }

  .menu-list li a{
    padding: 20px 50px 20px 0;
  }

  .login-section {
    width: 150px;
  }

  .submit-recipe-button {
    display: none;
  }

}