.section-heading2 {
  margin-bottom: 45px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-heading2:before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #ff4a52;
  height: 3px;
  width: 50px;
}

.direction-wrap-layout2 {
	margin-bottom: 50px;
}

.direction-wrap-layout2 .section-paragraph {
	font-size: 17px;
	color: #444444;
	margin-bottom: 40px;
}

.direction-wrap-layout2 .direction-box-layout2 {
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	margin-bottom: 40px;
	padding-bottom: 40px;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
}

@media only screen and (max-width: 991px) {
	.direction-wrap-layout2 .direction-box-layout2 {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.direction-wrap-layout2 .direction-box-layout2 {
		display: block;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}

.direction-wrap-layout2 .direction-box-layout2:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.direction-wrap-layout2 .direction-box-layout2 .serial-number {
	text-align: center;
	border-radius: 4px;
	border: 1px solid #acacac;
	height: 105px;
	width: 100px;
	padding: 15px 5px;
}

@media only screen and (max-width: 767px) {
	.direction-wrap-layout2 .direction-box-layout2 .serial-number {
		margin-bottom: 20px;
		height: 85px;
		width: 80px;
	}
}

.direction-wrap-layout2 .direction-box-layout2 .serial-number .number-title {
	color: #111111;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
	.direction-wrap-layout2 .direction-box-layout2 .serial-number .number-title {
		font-size: 26px;
	}
}

.direction-wrap-layout2 .direction-box-layout2 .serial-number span {
	display: block;
	font-size: 18px;
}

@media only screen and (max-width: 767px) {
	.direction-wrap-layout2 .direction-box-layout2 .serial-number span {
		font-size: 16px;
	}
}

.direction-wrap-layout2 .direction-box-layout2 .item-content {
	margin-left: 30px;
	flex: 1;
}

@media only screen and (max-width: 767px) {
	.direction-wrap-layout2 .direction-box-layout2 .item-content {
		margin-left: 0;
	}
}

.direction-wrap-layout2 .direction-box-layout2 .item-content .item-time {
	display: inline-block;
	margin-bottom: 5px;
	color: #ff4a52;
}

.direction-wrap-layout2 .direction-box-layout2 .item-content .item-time i {
	margin-right: 5px;
}

.direction-wrap-layout2 .direction-box-layout2 .item-content p {
	color: #444444;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 0;
}
