name: CI

on: [push]

defaults:
  run:
    working-directory: /home/deploy/sosister_backend

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - run: git pull origin master
      - run: systemctl restart gunicorn.socket
